# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

# Package Files #
*.jar
*.war
*.ear

#logs
*.log
*.log-*

# Other
*.class
*.orig

*/dependency-reduced-pom.xml
cdprf-play-server-example/public/client/*
cdprf-play-server-example/.cache-main
cdprf-play-server-example/.cache-tests
cdprf-play-server-example/bin/
cdprf-play-server-example/bin/activator
cdprf-play-server-example/bin/activator.bat
