# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

# Package Files #
*.jar
*.war
*.ear

#logs
*.log
*.log-*

# Other
*.class
*.orig

*/dependency-reduced-pom.xml

# Play
cdprf-play-server-example/.cache-main
cdprf-play-server-example/.cache-tests
cdprf-play-server-example/bin/
cdprf-play-server-example/conf/generated.keystore
RUNNING_PID
