# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

# Package Files #
*.jar
*.war
*.ear

#logs
*.log
*.log-*

# Other
*.class
*.orig

*/dependency-reduced-pom.xml
play-server-example/public/client/*
play-server-example/.cache-main
play-server-example/.cache-tests
play-server-example/bin/*
