<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="sysout">
			<PatternLayout>
				<pattern>
					BASIC LOG: %d %level{length=2} (%c{1.}.%M:%L) - %m%n
				</pattern>
			</PatternLayout>
		</Console>		
	</Appenders>
	<Loggers>
		<root level="info">
			<appenderRef ref="sysout" />
		</root>
		<logger name="com.alasch1.cdprf.httpclient" level="debug" additivity="false">
			<appenderRef ref="sysout" />
		</logger>
	</Loggers>	
</Configuration>